# **THEORY QUESTIONS**

**1. What are data structures, and why are they important?**

Ans: Data structure is a way of organising and storing data so that it can be access and manipulated efficiently. Types of data structure are: List, tuple, dict,set etc.

They are important because:

* It can efficiently handle data by choosing the right data structure.
* Python's high-level data structure let us write simpler and more expressive code.

*  Python's data structures come with many useful methods (eg, append(), pop(), update(), keys()) that make complex operations easy

*  Conserve memory usage
*  Choosing the right data structure significantly impacts the efficiency and performance of your program.


*  Data structures are key for tasks like sorting, searching and grouping data.

**2.  Explain the difference between mutable and immutable data types with examples**

Ans: Those data types whose values can be changed after creation are known as mutable data type whereas, in immutable data type, values cannot be changed after creation. In mutable data type, we can add, remove or change elements without changing the object's identity but in immutable data type, if we want to change them, then we have to create a new objects.

Example of mutable data type are : list, dict, set etc.
my_list=[1,2,3]
my_list.append(4)
print(my_list)

Example of immutable data type are: int, float, str etc.
my_string="hello"
new_string= my_string.replace('h','j')
print(my_string)
print(new_string)

**3. What are the main differences between lists and tuples in Python?**

Ans: The main difference between lists and tuples in Python are that:
* Lists are mutable and tuples are immutable ie we can change, add or remove elements after list is created but once tuples are created, we change, add or remove element from it.
* Lists use square brackets []; tuples use parenthese().
* Tuples can be used as keys in dictionaries; lists cannot.

**4.Describe how dictionaries store data?**

Ans: In python, dictionaries store data as a collection of key-value pairs. Internally, they use a tructure called a hash table to make data retrieval very fast.
Here, how it works:
* Each key you add to the dictionary is processed by a hash function, which converts it into a hash code.
* This hash code determines where in memory the corresponding value will be stored.
* When you look up a key, Python hashes the key again and quickly jumps to the right location to find the value.

**5. Why might you use a set instead of a list in Python?**

Ans: Set is used in Python insetad of a lists for various reasons:

* Sets stores only unique items as it automatically remove duplicates.
* As sets are hashable, it checks existing value much faster than list.
* Sets are unordered, so they are simpler and more efficient.

**6.What is a string in Python, and how is it different from a list?**

Ans: String is sequence of character which helps to represents and manipulate textual data. String is immutable ie once it is created their characters cannot be changed directly.

Lists is a sequence of elements. It is mutable ie it can be add, remove or change elements.

**7. How do tuples ensure data integrity in Python?**

Ans: Tuples help ensure data integrity in Python mainly through immutability.

* Tuple are immutable, which means we cannot change, remove or modify its contents which represents fixed collections like coordinates, configuration data or constant values.
* As tuples are immutable, they are hashable, so they can be safely used as keys in dictionaries or elements in sets.

**8.What is a hash table, and how does it relate to dictionaries in Python?**

Ans: A hash table is a data stucture used to store key-value pairs in a way that makes data retrieval very fast.

Here's, how it relates to dictionaries in Python:
* **Hashing**: When you add a key to dictionary, Python runs the key through a hash function, which turns it into an integer called a hash value.
* **Storage**: The hash value determines where in memory the value associated with the key will be stored inside the hash table.
* **Lookup**: When you lookup a key, Python hashes the key again, finds the corresponding bucket quickly and retrieves the value instead of searching each item one by one like in a list.

**9. Can lists contain different data types in Python?**

Ans: Yes, lists can contain different data types in Python as they are very flexible. This means we can combine numbers, strings, booleans, float, other lists or even complex objects all together.
This ability to mix data types makes lists very powerful and convenient for representing complex data structures or grouping related information without worrying about type restrictions.

**10.Explain why strings are immutable in Python?**


Ans: In python, strings are immutable because once a string is created, its contents cannot be changed directly. The main reasons are:



* Immutable objects can be stored and shared safely in memory without worrying about unexpected changes, which helps optimize performance,especially when strings are used as keys in dictonaries.
* Since strings are used frequently in programs, immutability prevents accidental modification that could lead to  bugs.
* Being immutable makes string hashable.

**11. What advantages do dictionaries offer over lists for certain tasks?**

Ans: Dictionaries in Python offer several advantages over lists for certain tasks, mainly because of how they store and access data.

* Dictionaries use hashing to store key-value pairs, which allows them to retrieve values by key in roughly constant time. Whereas, lists requires scanning elements one by one to find a value, which takes linear time.

* Dictionaries let you store and access data using meaningful keys which makes the code clearer and easier to read. But in list, it uses numeric indices, which can be less intuitive, especially when dealing with complex data.
* Dictionaries are ideal when each item has multiple associated attributes whereas, list alone would require nested structures to store such information, which can be harder to manage.

**12. Describe a scenario where using a tuple would be preferable over a list?**

Ans:Suppose we need a system to track historical currency exchange rates between two currencies on a given day. For each records, we need to store:

*  the date of the rate
*  the source currency
*  the target currency
*  the exchange rate of that day

Here is the reason why tuples would be prefeable:

* Each records are immutable- historical data should not be accidentally edited.
* Tuples help signal that the length and structure of each records is fixed: data, from currency, to currency, rate.
* Tuples can be used in sets or as dictonary keys if we need to index them.

**13.How do sets handle duplicate values in Python?**

Ans: Sets in python, automatically remove duplicate values. A set is an unordered collection of unique, immutable elements. When you create a set, or add elements to it, any duplicate elements are ignored, only one copy of each unique element is kept.

For example: numbers={1,2,2,3,4,5,5,5,6,4,5}
             print(numbers)
             Output: {1,2,3,4,5,6}

**14. How does the “in” keyword work differently for lists and dictionaries?**

Ans: In lists, it checks whether a specific value exists in the list, whereas in dictionaries, it checks whether a specific key is present in the dictionary.

**15. Can you modify the elements of a tuple? Explain why or why not?**

Ans: No, we cannot modify the elements of a tuples as tuples are immutable. Onces a tuple is created, its elements cannot be changed, added or removed. Immutability makes tuples hashable, which allows them to be used as keys in dictionaries and elements in sets.

**16. What is a nested dictionary, and give an example of its use case?**

Ans: A nested dictionary in Python is simply a dictionary inside another dictionary. It lets you store more complex data as having a mini-dictionary as a value for a key.

Nested dictionaries are useful when you need to store related data belongs together. For example:

* Storing information about multiple users/accounts in an app.
* Storing inventory where each products has details like price, quantity and description.
* Managing settings or configurations with multiple categories.

**17. Describe the time complexity of accessing elements in a dictionary?**

Ans:In python, accessing a value by key in a dictionary is typically very fast o(1) ie constant time. This means it usually takes the same amount of time, no matter how big the dictionary is. This is been done by hash table.

**18. In what situations are lists preferred over dictionaries?**

Ans: Lists are generally preferred over dictionaries when:

* We only need to store values, not key-value pair.
* Lists maintain the oredr of insertion and you can have repeated items.
* For tasks like sorting, slicing or iterating by position, lists are simpler and more efficient.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

Ans: Dictionaries are considered unordered because they store data by keys, not by position. This means you can't get items by index like in a list, you always access them by their keys.

**20.  Explain the difference between a list and a dictionary in terms of data retrieval.**

Ans: The difference between a list and a dictionary in terms of data retrieval are:

**LISTS:**
* Data is retrieved by position/ index.
* The index is always an integer starting from 0.
* To find out whether an item exists in a list, Python may need to check each element one by one.

**DICTIONARIES:**
* Data is retrieved by a key.
* Keys can be strings, numbers or other immutable, hashable values.
* Dictionary lookup uses a hash table, so finding the value for a given key is usually very fast.

# **PRACTICAL QUESTIONS**

**1. Write a code to create a string with your name and print it.**

In [28]:
my_name="Dona Acharjee"
print(my_name)

Dona Acharjee

**2. Write a code to find the length of the string "Hello World".**

In [1]:
x="HelloWorld"
print(len(x))

10

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [29]:
text="Python Programming"
slice=text[:3]
print(slice)

Pyt

**4. Write a code to convert the string "hello" to uppercase.**

In [1]:
name= "hello"
print(name.upper())

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [2]:
text="I like apple"
new_text=text.replace("apple","orange")
print(new_text)

I like orange

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [3]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [5]:
numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [6]:
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

**9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [4]:
letters=['a','b','c','d']
print(letters[1])

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [7]:
numbers=[10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
numbers=[100,200,300]
print(numbers)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [8]:
colors=('red','green','blue','yellow')
print(colors[-2])

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [9]:
numbers=(10,20,5,15)
print(min(numbers))

5

**14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [10]:
animals=('dog','cat','rabbit')
print(animals.index('cat'))

1

**15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [41]:
fruits=("apple","banana","guava")
print("kiwi" in fruits)

False

**16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [37]:
my_set={'a','b','c'}
print(my_set)

{'c', 'b', 'a'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [11]:
numbers={1,2,3,4,5}
numbers.clear()
print(numbers)

set()

**18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [12]:
numbers={1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

**19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [13]:
x={1,2,3}
y={3,4,5}
print(x.union(y))

{1, 2, 3, 4, 5}

**20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [14]:
x={1,2,3}
y={2,3,4}
print(x.intersection(y))

{2, 3}

**21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [16]:
name="Dona"
age=22
city="Mumbai"
print(name)
print(age)
print(city)

Dona
22
Mumbai

**22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [21]:
x={"name":"John", "age":25}
x["country"]="USA"
print(x)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [23]:
a={"name":"Alice","age":30}
b=a["name"]
print(b)

Alice

**24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [24]:
x= {'name': 'Bob', 'age': 22, 'city': 'New York'}.pop("age")
print(x)

22

**25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [25]:
a={'name': 'Alice', 'city': 'Paris'}
if "city" in a:
  print("city exists")

city exists

**26.  Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [38]:
my_list=[1,2,3]
my_tuple=('a','b','c')
my_dict={"name":"Dona","age":22}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'Dona', 'age': 22}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [39]:
numbers=[55,7,52,16,28]
numbers.sort()
print(numbers)

[7, 16, 28, 52, 55]

**28. Write a code to create a list with strings and print the element at the third index.**

In [27]:
days=['Monday','Tuesday','Wednesday','Thursday']
print(days[3])

Thursday

**29. Write a code to combine two dictionaries into one and print the result.**

In [40]:
Dona_favorites={"mango":5, "blueberry":4}
Rana_favorites={"banana":2, "papaya":5}
combined_favorites={**Dona_favorites,**Rana_favorites}
print(combined_favorites)

{'mango': 5, 'blueberry': 4, 'banana': 2, 'papaya': 5}

**30.  Write a code to convert a list of strings into a set.**

In [26]:
fruits=["apple","banana","guava"]
fruits_set=set(fruits)
print(fruits_set)

{'apple', 'guava', 'banana'}